
# Core dependencies
einops>=0.8.0
numpy==1.26.4
pillow==11.3.0
diffusers>=0.32.0
safetensors==0.4.5
tokenizers>=0.21.0
transformers[accelerate,tiktoken]>=4.56.0,<=5.2.0
huggingface_hub[cli]
datasets
loguru
decorator
scipy
torchvision==0.22.1

# Interactive demo
gradio>=4.21.0
