torch==2.7.1
torchvision==0.22.1
opencv-python>=4.9.0.80
diffusers==0.34.0
transformers==4.54.1
tokenizers>=0.20.3
accelerate==1.9.0
tqdm==4.67.3
imageio[ffmpeg]
easydict==1.13
ftfy==6.3.1
dashscope==1.25.17
imageio-ffmpeg==0.6.0
numpy>=1.23.5,<2
yunchang==0.6.0
einops==0.8.2
loguru==0.7.3
decorator==5.2.1
scipy==1.17.1
